<!DOCTYPE html>
<html>
	<%= stylesheet_link_tag "application" %>
	<!--<link rel="stylesheet" type="text/css" href="/assets/stylesheets/index.css">-->
	<head>
		<title>ShowCam</title> <!--Possibly do a yield title sort of ruby line here-->
		<meta charset="utf-8" />
		<%= javascript_include_tag "application" %>
		<!--<script src="../../assets/javascripts/ajax.js"></script>
		<script src="../../assets/javascripts/index.js"></script>-->
		<%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body>
		<div id='bg_home'>
			<div id='nav_float'>
				<div id='land_logo' class='image'>
				</div>
				<a href='support.html'>
					<div class='nav_button'>
						Support
					</div>
				</a>
			</div>
			<div id='login_box'>
				<div id='download_button_border'>
					<a href='whereeverourclientis.html'>
						<div id='download_button'>
							Click To Download
						</div>
					</a>
				</div>
				<div id='download_bar'>
					.
				</div>
				<div id='login_small'>
					<div id='login_box_title'>
						Log In or Sign Up
					</div>
					<div id='signup_fields'>
						<div class='land_ff'>
							Username <input type='text' name='username'></br>
						</div>
						<div class='land_ff'>
							Password <input type='password' name='password'></br>
						</div>
						<div class='land_ff'>
							Confirm Password <input type='password' name='password'></br>
						</div>
						<div class='land_ff'>
							Email <input type='text' name='email'>
						</div>
					</div>
					<div id='login_subtext'>
						Remember Me <input type="checkbox" name="rememberme" value="remembered"> 
					</div>
					<div class='clearfix'></div>
					<button id='signup_button' type='button'>
						Sign Up
					</button>
					<a href='dashboard'>
						<button id='login_button' type='submit'>
							Log In
						</button>
					</a>
				</div>
			</div>
			<%= render :partial => "about" %>
		</div>
	</body>
</html>