<!DOCTYPE html>
<html>
	<%= stylesheet_link_tag "application" %>
	<!--<link rel="stylesheet" type="text/css" href="/assets/stylesheets/index.css">-->
	<head>
		<title>ShowCam</title> <!--Possibly do a yield title sort of ruby line here-->
		<meta charset="utf-8" />
		<%= javascript_include_tag "application" %>
		<!--<script src="../../assets/javascripts/ajax.js"></script>
		<script src="../../assets/javascripts/index.js"></script>-->
		<link rel="icon" href="../../assets/images/favicon.ico">
	</head>
	<body>
		<div id='bg_home'>
			<div id='nav_float'>
				<div id='land_logo' class='image'>
				</div>
				<a href='support.html'>
					<div class='nav_button'>
						Support
					</div>
				</a>
			</div>
			<div id='login_box'>
				<div id='download_button_border'>
					<a href='whereeverourclientis.html'>
						<div id='download_button'>
							Click To Download
						</div>
					</a>
				</div>
				<div id='download_bar'>
					.
				</div>
				<%= render :partial => "login" %>
			</div>
			<%= render :partial => "about" %>
		</div>
	</body>
</html>