<!--import the css and javascript here?-->

<div id='username_explain'>
	<div id='explain_title'>
		What ShowCam Does
	</div>
	<div id='explain_full'>
		While most security cameras record everything within a pre-programmed time period, ShowCam detects when there's movement on camera and records only for the duration of the event. After which, it uploads all recorded events to an easy to view web platform.
	</div>
</div>